# Build Outputs

/target/
**/target/
**/build/
!**/src/main/**/build/
!**/src/test/**/build/


# Maven Wrapper

.mvn/wrapper/maven-wrapper.jar
!**/.mvn/wrapper/maven-wrapper.jar
!**/.mvn/wrapper/maven-wrapper.properties
mvnw
mvnw.cmd


# Compiled Class Files

**/*.class


# Logs

**/*.log


# OS-Specific Files

**/.DS_Store
**/Thumbs.db


# IDEs
# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# Eclipse / STS
.apt_generated/
.classpath
.factorypath
.pr

